/*表格*/

table > thead {
    background-color: #00b990;
    color: #fff;
}

.jin-server-table {
    border: 3px solid #00b9a7;
}

.jin-server-table > tbody > tr > td {
    line-height: 36px;
}

/*最小列宽*/
.jin-server-column1 {
    width: 70px;
}

.jin-server-column2 {
    width: 90px;
}

.jin-server-column5 {
    width: 350px;
}

.jin-server-select {
    margin-bottom: 20px;
}

/*按钮*/
button[data-type="insert"] {
    margin-left: 10px;
    margin-right: 10px;
}