{{include file="../common/1header.html"}}
<link href="{{CSS}}jin/3.66.index.css" rel="stylesheet">
<style type="text/css">
    .wrong_red{
        color: red;
        margin-left:30px 
    }
    .wrong_green{
        color: green;
        margin-left:30px
    }
</style>

<!--更新说明-->
<div class="jin-change-div col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">最新更新</div>
        <div id="content" class="panel-body"></div>
    </div>
    {{if $role_id eq 1}}
    <div class="panel panel-default">
        <div class="panel-heading">错误日志</div>
        <div id="content_wrong_daily" class="panel-body"></div>
        <div id="content_wrong_device" class="panel-body"></div>
        <div id="content_wrong_acc" class="panel-body"></div>
        <div id="content_wrong_char" class="panel-body"></div>
    </div>
    {{/if}}
</div>

<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}

<script>
    $(document).ready(getNewChange());
    //最新更新
    function getNewChange() {
        var c = '';
        $.ajax({
            type: "post",
            url: "?p=Admin&c=Rbac&a=changelog&jinIf=912",
            dataType: "json",
            success: function (json) {
                c +=
                    '<div class="change-title">版本号：' + json[0]['version'] + '</div>' +
                    '<div class="change-date"> 更新日期：' + json[0]['date'] + '</div>';
                c += '<div class="change-text">';
                for (var j = 0; j < json[0]['content'].length; j++) {
                    c += '<div>' + (j + 1) + '. ' + json[0]['content'][j] + '</div>';
                }
                c += '</div>';
                c += '<a href="?p=Admin&c=Rbac&a=changelog" class="center btn btn-default">查看详情</a>';
                $("#content").html(c);
            },
            error: function () {
                layer.msg('数据获取失败，请勿频繁刷新');
            }
        });
    }
</script>