{{include file="../common/1header.html"}}
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>拍卖行日志</span></div>
<div class="alert alert-info">
    <div id="group_server"></div>
</div>
<!--查询div-->
<hr/>
<div class="jin-search-div">
    <div>
        <label for="time_start">日期：</label>
        <input size="16" type="text" id="time_start" class="form-control jin-datetime"
               placeholder="开始日期">
        -
        <input size="16" type="text" id="time_end" class="form-control jin-datetime"
               placeholder="结束日期">
    </div>
    <div>
        <label for="order_id">筛选：</label>
        <input id="auction_id" type="text" class="form-control jin-search-input" placeholder="拍卖id">
        <input id="char_guid" type="text" class="form-control jin-search-input" placeholder="发布者id">
        <input id="target_guid" type="text" class="form-control jin-search-input" placeholder="发布目标id">
        <input id="item_id" type="text" class="form-control jin-search-input" placeholder="物品id">
        <input id="opt" type="text" class="form-control jin-search-input" placeholder="操作类型（填数字）">
        <input id="opt_type" type="text" class="form-control jin-search-input" placeholder="来源类型（填数字）">
        <a id="jin_search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
    </div>
</div>
<hr/>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>物品版本</th>
            <th>录入时间</th>
            <th>操作类型</th>
            <th>来源类型</th>
            <th>单价</th>
            <th>拍卖id</th>
            <th>发布者id</th>
            <th>发布者名字</th>
            <th>发布目标id</th>
            <th>物品id</th>
            <th>物品名称</th>
            <th>物品数量</th>
            <th>vip等级</th>
            <th>交易税</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
<div id="page"></div>
<div class="jin-explain">
    <b>说明</b>：
    <div>
        ①查询条件可以按需自由组合；
    </div>
</div>
<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}

<script>
    var url = location.href + "&jinIf=912";
    var arr = ['version', 'log_time', 'opt', 'opt_type', 'UnitPrice', 'auction_id', 'char_guid', 'char_name', 'target_guid', 'item_id', 'item_name', 'item_num', 'char_vip_lv', 'param1'];
    var id = ["#content", "#page"];
    var data = {page: 1};
    $(function () {
        gsSelect('#group', '#server', '#platform', getCharge);
        calendar('month', '#time_start', '#time_end');
    });
    function getCharge() {
        var time_start  = $('#time_start').val();
        var time_end    = $('#time_end').val();

        data.page       = 1;
        data.time_start = time_start;//查询开始时间;
        data.time_end   = time_end;//查询结束时间
        data.opt        = $("#opt").val();
        data.opt_type   = $('#opt_type').val();

        data.auction_id = $('#auction_id').val();
        data.char_guid  = $('#char_guid').val();
        data.target_guid= $('#target_guid').val();
        data.item_id    = $('#item_id').val();
        data.group      = $('#group').val();
        data.si         = $('#server').val();
        data.pi         = $('#platform').val();

        tableList(url, data, id, arr);
    }
    // 普通查询
    $("#jin_search").on('click', function () {
        data.check_type = 912;
        getCharge();
    });
</script>
