{{include file="../common/1header.html"}}
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>战力日志</span></div>
<div class="alert alert-info">
    <div id="group_server"></div>
</div>
<!--查询div-->
<hr/>
<div class="jin-search-div">
    <div>
        <label for="time_start">日期：</label>
        <input size="16" type="text" id="time_start" class="form-control jin-datetime"
               placeholder="开始日期">
        -
        <input size="16" type="text" id="time_end" class="form-control jin-datetime"
               placeholder="结束日期">
    </div>
    <div>
        <label for="player_id">筛选：</label>
        <input id="log_id" type="text" class="form-control jin-search-input" placeholder="日志ID">
        <input id="player_id" type="text" class="form-control jin-search-input" placeholder="角色ID">
        <input id="opt" type="text" class="form-control jin-search-input" placeholder="opt">

        <a id="jin_search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
    </div>
</div>
<hr/>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>日期</th>
            <th>日志ID</th>
            <th>角色ID</th>
            <th>变化opt</th>
            <th>变化前</th>
            <th>变化后</th>

        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
<div id="page"></div>
<div class="jin-explain">
    <b>说明</b>：
    <div>
        ①查询条件可以按需自由组合；
    </div>
</div>
<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}

<script>
    var url = location.href + "&jinIf=912";
    var arr = ['log_time', 'log_id', 'char_guid', 'opt_type', 'param0', 'param1'];
    var id = ["#content", "#page"];
    var data = {};
    $(function () {
        gsSelect('#group', '#server', '#platform');
        calendar('hour', '#time_start', '#time_end');
    });
    function getServiceresult() {
        var time_start = $('#time_start').val();
        var time_end   = $('#time_end').val();

        data.time_start  = time_start;//查询开始时间;
        data.time_end    = time_end;//查询结束时间

        data.player_id   = $("#player_id").val();
        data.group       = $('#group').val();
        data.pi          = $('#platform').val();
        data.si          = $('#server').val();
        data.page          = 1;
        data.opt          = $('#opt').val();
        data.log_id          = $('#log_id').val();

        tableList(url, data, id, arr);
    }
    // 普通查询
    $("#jin_search").on('click', function () {
        data.check_type = 912;
        getServiceresult();
    });

</script>
