{{include file="../common/1header.html"}}
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>广告订单查询</span></div>
<div class="alert alert-info">
    <div id="group_server"></div>
</div>
<!--查询div-->
<hr/>
<div class="jin-search-div">
    <div>
        <label for="time_start">日期：</label>
        <input size="16" type="text" id="time_start" class="form-control jin-datetime"
               placeholder="开始日期">
        -
        <input size="16" type="text" id="time_end" class="form-control jin-datetime"
               placeholder="结束日期">
    </div>
    <div>
        <label for="acc">筛选：</label>
        <input id="orderid" type="text" class="form-control jin-search-input" placeholder="trans_id">
        <input id="acc" type="text" class="form-control jin-search-input" placeholder="账号ID">
        <input id="char" type="text" class="form-control jin-search-input" placeholder="角色ID/角色名">
        <label for="gift_type">充值类型：</label>
        <select id="gift_type" style="padding: 8px;">
            <option value="999">全部</option>
            <option value="0">超值礼包-每日福利</option>
            <option value="1">狩猎场-快速狩猎</option>
            <option value="2">死亡后</option>
            <option value="3">体力</option>
            <option value="4">宗师</option>
            <option value="5">特别奖励</option>
            <option value="6">乐神大奖</option>
            <option value="7">石币免费-广告双倍</option>
            <option value="8">技能3选1重置</option>
            <option value="9">悬赏令</option>
        </select>
        <a id="jin_search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
        <a id="server_summary" class="btn btn-success">服务器汇总</a>
        <a id="group_summary" class="btn btn-success">渠道汇总</a>
        <a id="jin_excel" class="btn btn-danger">保存到Excel</a>
        <label for="add_num">总数：</label>
        <span id="add_num"></span>
    </div>
</div>
<hr/>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr id="thead">
            <th>trans_id</th>
            <th>账号ID</th>
            <th>发行ID</th>
            <th>角色ID</th>
            <th>创角时间</th>
            <th>角色名</th>
            <th>状态</th>
            <th>时间</th>
            <th>类型</th>
            <th>设备</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
<div id="page"></div>

<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}

<script>
    var url = location.href + "&jinIf=912";
    var arr = ['trans_id', 'acc','issuing_account', 'char_id','other', 'char_name','result','time','video_id','code'];
    var id = ["#content", "#page","#add_num"];
    var data = {};
    $(function () {
        gsSelect('#group', '#server', '#platform');
        calendar('minute', '#time_start', '#time_end');
    });
    function getCharge() {
        var time_start = $('#time_start').val();
        var time_end   = $('#time_end').val();
        data.page       = 1;
        data.time_start = time_start;//查询开始时间;
        data.time_end   = time_end;//查询结束时间
        data.acc        = $("#acc").val();
        data.orderid    = $("#orderid").val();
        data.char       = $('#char').val();
        data.group      = $('#group').val();
        data.si         = $('#server').val();
        data.pi         = $('#platform').val();
        data.gift_type         = $('#gift_type').val();
        tableList(url, data, id, arr,2);
    }
    // 普通查询
    $("#jin_search").on('click', function () {
        data.check_type = 912;
        getCharge();
    });
    // 服务器汇总
    $("#server_summary").on('click', function () {
        data.check_type = 998;
        getCharge();
    });
    // 渠道汇总
    $("#group_summary").click(function () {
        data.check_type = 999;  // 渠道汇总
        giCollect(getCharge);
    });
    // 导出Excel
    $("#jin_excel").on('click', function () {
        data.page       = 'excel';
        data.time_start = $('#time_start').val();//查询开始时间;
        data.time_end   = $('#time_end').val();//查询结束时间
        data.acc        = $("#acc").val();
        data.orderid    = $("#orderid").val();
        data.char       = $('#char').val();
        data.group      = $('#group').val();
        data.si         = $('#server').val();
        data.pi         = $('#platform').val();
        data.gift_type         = $('#gift_type').val();
        $.ajax({
            type: "post",
            url: location.href + '&jinIf=951',
            data: data,
            dataType: "json",
            beforeSend: function () {
                layer.load(2, {
                    shade: [0.3, '#fff']
                });
            },
            success: function (output) {
                layer.closeAll('loading');
                location.href = output;
            },
            error: function () {
                layer.closeAll('loading');
                layer.msg('文件下载失败，请缩小筛选条件后再次下载');
            }
        });
    });


</script>
