{{include file="../common/1header.html"}}
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>庆典周累积领取奖励日志</span></div>
<div class="alert alert-info">
    <div id="group_server"></div>
</div>
<!--查询div-->
<hr/>
<div class="jin-search-div">
    <div>
        <label for="time_start">日期：</label>
        <input size="16" type="text" id="time_start" class="form-control jin-datetime"
               placeholder="开始日期">
        -
        <input size="16" type="text" id="time_end" class="form-control jin-datetime"
               placeholder="结束日期">
        <a id="jin_search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
    </div>
</div>
<hr/>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>日期</th>
            <th>累积充值</th>
            <th>领取次数</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
{{include file="../common/2footer.html"}}
<script type="text/javascript">
	$(function () {
        gsSelect('#group', '#server', '#platform');
        calendar('month', '#time_start', '#time_end');
    });

    $("#jin_search").on('click', function () {
        data.check_type = 912;
        getCharge();
    });

    var data = {};
    var url = location.href + "&jinIf=912";
    var arr = ['log_time', 'fee', 'num'];
    var id = ["#content", "#page"];

    function getCharge() {
        var time_start = $('#time_start').val();
        var time_end   = $('#time_end').val();

        data.page       = 1;
        data.time_start = time_start;//查询开始时间;
        data.time_end   = time_end;//查询结束时间
        data.group      = $('#group').val();
        data.si         = $('#server').val();
        data.pi         = $('#platform').val();

        tableList(url, data, id, arr);
    }
</script>