{{include file="../common/1header.html"}}
<link href="{{CSS}}jin/3.03.selectdistribution.css" rel="stylesheet">
<style>
    .btn_on {
        color: #fff;
        background-color: #269abc;
        border-color: #1b6d85;
    }
</style>
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>渠道top榜</span></div>
<!-- <div class="alert alert-info">
    <div id="group_server"></div>
</div> -->
<div class="jin-explain">
    <b>说明</b>：
    <div>
        ① 渠道top榜图表示日期选择框（不填默认当天）渠道充值排名与渠道新增排名。；
    </div>
</div>
<hr/>
<!--查询div-->
<div class="jin-search-div">
    <label for="time_start">日期：</label>
    <input size="16" type="text" id="time_start" class="form-control jin-datetime" placeholder="开始日期">
    -
    <input size="16" type="text" id="time_end" class="form-control jin-datetime" placeholder="结束日期">
    <a id="jin_search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
</div>
<hr/>
<div class="btn-group center" style="margin-bottom: 10px;">
    <button id='btn1' class="btn btn-info">付费总额排行</button>
    <button id='btn2' class="btn btn-info">新增人数排行</button>
</div>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>排行</th>
            <th>渠道</th>
            <th id="total">付费总额</th>
            <th id="num" style="display: none;">新增人数</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
<div id="page"></div>
<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}

<script>
    $(function () {
        $("#btn1").addClass('btn_on').siblings('button').removeClass('btn_on')
    })
    var url = location.href + "&jinIf=912";
    //为调用自己封装的tableList方法声明相关的参数：url,arr,data,id
    var arr = ['rank', 'group_name', 'amount'];
    var id = ["#content", "#page"];
    var data = {page: 1, order: 'desc'};
    //下面是依次加载相应的DOM元素，对应的渠道，服务器，和时间的选取分别调用gsSelect()和calendar()方法
    $(document).ready(gsSelect('#group', '#server', '#platform')).ready(calendar('month', '#time_start', '#time_end'));
    var check = true;
    //设置一个函数来专门调用tableList方法
    function getQuest() {
        var time_start = $('#time_start').val();
        var time_end   = $('#time_end').val();
        // 检测汇总时间是否过长
        check = checkSummaryTime(data.check_type, time_start, time_end, 30, 15);
        if (check === false) {
            return false;
        }

        data.time_start  = time_start;//查询开始时间;
        data.time_end    = time_end;//查询结束时间
        tableList(url, data, id, arr); //这个是自己封装的方法在jin-tableList.js文件中
    }
    $("#jin_search,#btn1").on('click', function () {
        $("#btn1").addClass('btn_on').siblings('button').removeClass('btn_on');
        $('#num').hide();
        $('#total').show();
        data.type = 'total';
        data.check_type  = 999;
        giCollect(getQuest);
    });
    $("#btn2").on('click', function () {
        $("#btn2").addClass('btn_on').siblings('button').removeClass('btn_on');
        $('#total').hide();
        $('#num').show();
        data.type = 'num';
        data.check_type  = 999;
        giCollect(getQuest);
    });
</script>
