{{include file="../common/1header.html"}}
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>封禁玩家发言</span></div>
<!--日期查询div-->
<div class="alert alert-info">
    <div id="group_server"></div>
</div>
<!--查询div-->
<hr/>
<div class="jin-search-div">
    <div>
        <input id="char" type="text" class="form-control jin-search-input" placeholder="帐号/角色ID/角色名">
        <a id="jin_search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
        <a id="ban_search" class="btn btn-info"><span class="glyphicon glyphicon-search">查看已被封禁账号</span></a>
    </div>
</div>
<hr/>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>帐号</th>
            <th>角色ID</th>
            <th>角色名</th>
            <th>封号</th>
            <th>封号开始时间</th>
            <th>封号结束时间</th>
            <th>封号原因</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
<div id="page"></div>
<div class="jin-explain">
    <b>说明</b>：
    <div>
        ①……
    </div>
</div>
<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}
<script type="text/javascript">
    gsSelect('#group', '#server');
    var url = location.href + "&jinIf=912";
    var btn = ['<a><span class="glyphicon glyphicon-remove"></span></a>'];
    var arr = ['acc_name', 'char_id', 'char_name', btn, 'chat_begin_time', 'chat_block_time', 'chat_block_reason'];
    var id = ["#content", "#page"];
    var data = {};

    $("#jin_search").on('click', function () {
        data.page = 1;
        data.ban = '';
        data.char = $("#char").val();
        tableList(url, data, id, arr)
    });

    $("#ban_search").on('click', function () {
        data.page = 1;
        data.char = $("#char").val();
        data.ban = 'yes';
        tableList(url, data, id, arr)
    });

    $('#content').on('click', 'span', function () {
        var char_id = $(this).on('click').parents('tr').find('td').eq(1).text();
        var char_name = $(this).on('click').parents('tr').find('td').eq(2).text();
        layer.open({
            type: 1,
            closeBtn: 2,
            title: '封禁角色操作',
            area: ['350px', '270px'],
            btn: ['确定', '取消'],
            btnAlign: 'c',
            shadeClose: true, //点击遮罩关闭
            content: '<div class="jin-child center jin-block">' +
            '<div>' +
            '角色ID：' +
            char_id +
            '</div>' +
            '<div>' +
            '角色名字：' +
            char_name +
            '</div>' +
            '<div>' +
            '封禁时长：' +
            '<input id="time" type="text" placeholder="单位为小时，不填表示解封">' +
            '</div>' +
            '<div>' +
            '封禁原因：' +
            '<select id="type">' +
            '{{foreach $b1 as $k=>$v}}' +
            '<option value={{$k}}>{{$v}}</option>' +
            '{{/foreach}}' +
            '</select>' +
            '</div>' +
            '</div>',
            yes: function (index) {
                //当点击‘确定’按钮的时候，获取弹出层返回的值
                var time = $('#time').val();
                var reason = $('#type').val();
                $.ajax({
                    type: "POST",
                    url: location.href + "&jinIf=921",
                    data: {
                        si: $("#server").val(),
                        char_id: char_id,
                        time: time,
                        reason: reason
                    },
                    dataType: 'json',
                    success: function (json) {
                        layer.close(index);
                        layer.alert("操作成功", function (index) {
                            layer.close(index);
                            data.page = 1;
                            data.char = $("#char").val();
                            contentList(url, data, id, arr)
                        });
                    }
                });
            },
            cancel: function () {
                //右上角关闭
            }
        });
    });
</script>
