{{include file="../common/1header.html"}}
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>历史反馈</span></div>
<div class="alert alert-info">
    <div id="group_server_2"></div>
</div>
<!--查询区-->
<hr/>
<input id="feedback" maxlength="20" type="text" class="form-control jin-search-input" placeholder="问题">
<a id="jin_search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
<a href="javascript:history.go(-1)">返回反馈列表</a>
<hr/>
<!--数据区-->
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>反馈ID</th>
            <th>角色ID</th>
            <th>问题</th>
            <th>回复</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
<div id="page"></div>
<div class="jin-explain">
    <b>说明</b>：
    <div>
        ① 查询框留空表示查询当前服全部角色信息；
    </div>
</div>
<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}
<script type="text/javascript">
    gsSelect('#group', '#server', '', getHistory);
    var url = location.href + "&jinIf=912";
    var feedback = function (json) {
        var fb_content = '提问时间：' + json.feedback_time + '<br />问题：' + json.content;
        return fb_content;
    }
    var reply = function (json) {
        var r_content = '回复时间：' + json.reply_time + '<br />回复：' + json.reply_content;
        return r_content;
    }
    var arr = ['id', 'char_id', feedback, reply];
    var id = ["#content", "#page"];
    var data = {};
    function getHistory() {
        data.page = 1;
        data.si = $("#server").val();
        data.char_id = {{GET('char_id')}};
        tableList(url, data, id, arr)
    }
    $("#jin_search").on('click', function () {
        data.feedback = $("#feedback").val();
        getHistory()
    });
</script>

