{{include file="../common/1header.html"}}
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>玩家副本进度查询</span></div>
<div class="alert alert-info">
    <div id="group_server"></div>
</div>
<!--查询div-->
<hr/>
<div class="jin-search-div">
    <div>
        <label for="time">日期：</label>
        <input size="16" type="text" id="time" class="form-control jin-datetime"
               placeholder="默认当天">
    </div>
    <div>
        <label for="player_name">筛选：</label>
        <input id="player_name" type="text" class="form-control jin-search-input" placeholder="角色ID/角色名">
        <a id="jin_search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
    </div>
</div>
<hr/>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>角色ID</th>
            <th>角色名</th>
            <th>副本名称</th>
            <th>当日挑战次数</th>
            <th>当日挑战成功次数</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
<div id="page"></div>
<div class="jin-explain">
    <b>说明</b>：
    <div>
        ①日期不填默认查询当天；
    </div>
</div>
<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}
<script>
    gsSelect('#group', '#server');
    calendarOne('month', '#time');
    var url = location.href + "&jinIf=912";
    var arr = ['char_id', 'char_name',  'name','receive', 'success'];
    var id = "#content";
    var data = {};
    $("#jin_search").on('click', function () {
        data.time = $('#time').val();//查询时间;
        data.player_name = $("#player_name").val();//角色
        noPageContentList(url, data, id, arr);
    });
</script>