{{include file="../common/1header.html"}}
<input id="role" class="form-control jin-search-input" placeholder="角色名或角色ID">
<a id="jin_search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr>
      		<th>编号</th>
            <th>服务器</th>
            <th>申请人</th>
            <th>充值对象</th>
            <th>订单号</th>
            <th>充值金额</th>
            <th>审核人</th>
            <th>充值时间</th>
            <th>状态</th>
            <th>类型</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
<div id="page"></div>
{{include file="../common/2footer.html"}}

<script type="text/javascript">
    var url = location.href + "&jinIf=920";
    var id = ["#content", "#page"];
    var data = {};

    var btn = [
        "已审核"
    ];
    var arr = ['id', 'si', 'apply_name', 'charge_role', 'order', 'charge_money','apply_name1',  'charge_time', btn,'type'];
    $(function () {
        jsonAudit();
    })

    $("#jin_search").on('click', function () {
        jsonAudit();
    });


    //刷新数据
    function jsonAudit() {
        data.page = 1;
        data.role = $("#role").val();
	    tableList(url, data, id, arr);
    }
</script>
