{{include file="../common/1header.html"}}
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>开服信息</span></div>
<!--查询div-->
<hr/>
<div class="jin-search-div">

    <div>
        <label for="player_name">筛选：</label>
        <input id="hosts" type="text" class="form-control jin-search-input" placeholder="组名">
        <input id="dir" type="text" class="form-control jin-search-input" placeholder="文件夹">
        <input id="status" type="text" class="form-control jin-search-input" placeholder="操作">
        <a id="jin_search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
    </div>
</div>
<hr/>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>组名</th>
            <th>文件夹</th>
            <th>操作类型</th>
            <th>param1</th>
            <th>param2</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
<div id="page"></div>
<div class="jin-explain">
</div>
<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}
<script>
    var btn = function (json) {
        return '<div class="btn-group btn-group-sm"><a data-type="deleteConfig" data-data-id="'+json.id+'" class="btn btn-danger">删除</a></div>'
    };
    var time = function (json) {
        $ctime = Date.parse(new Date())-Date.parse(json.time);
        if($ctime<5*60*1000){
            sty = 'style="color:blue;font-size:20px;"';
        }else{
            sty = '';
        }
        return '<span '+sty+'>'+json.time+'</span>'
    };
    var param2 = function (json) {
        if(json.param2=='failed'){
            sty = 'style="color:red; font-size:25px;"';
        }else{
            sty = '';
        }
        return '<span '+sty+'>'+json.param2+'</span>'
    };
    var url = location.href + "&jinIf=912";
    var arr = ['hosts', 'dir', 'status', 'param1', param2, time, btn];
    var id = ["#content", "#page"];
    var data = {page: 1};
    $("#jin_search").on('click', function () {
        common();
    });
    function common() {
        data.page       = 1;
        data.hosts  = $('#hosts').val();
        data.status  = $('#status').val();
        data.dir  = $('#dir').val();
        tableList(url, data, id, arr);
    }
    $('#content').on('click', 'a[data-type="deleteConfig"]', function () {
        var id = $(this).attr('data-data-id');
        layer.alert('确认删除？', {icon: 0, btn: ['确定', '取消'], shadeClose: true}, function () {
            $.ajax({
                type: "POST",
                url: location.href + "&jinIf=914",
                data: {
                    id: id
                },
                dataType: "json",
                success: function (json) {
                    layer.alert('删除成功', {icon: 1}, function (index) {
                        layer.close(index);
                        common();
                    });
                }
            });
        });
    });


</script>