{{include file="../common/1header.html"}}
<link href="{{CSS}}jin/3.93.soapTest.css" rel="stylesheet">
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>SOAP测试 </span></div>
<div class="alert alert-info">
    <div id="group_server_2"></div>
</div>
    <div class="form-group">
        <textarea class="form-control" id="result" rows="4" placeholder=""></textarea>
    </div>
    <div class="form-group">
        <a id="send" class="btn btn-danger center">发送</a>
    </div>
<div class="form-group">
    <a id="jin_excel" class="btn btn-danger center">excel</a>
</div>


<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}
<script>
    gsSelect('#group', '#server');
    data={};
    $('#send').on('click', function () {
        var url=$('#result').val().split('\n');
        url.pop();
        data.gi = $("#group").val();
        data.si = $("#server").val();
        data.uid = url;
        $.ajax({
            type: "POST",
            url : location.href + "&jinIf=912",
            data: data,
            dataType: 'json',
            success: function (output) {
                layer.closeAll('loading');
                location.href = output;
            }
        });
    });

</script>
