{{include file="../common/1header.html"}}
<link href="{{CSS}}jin/3.06.server.css" rel="stylesheet">
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>主播</span></div>
<div class="jin-server-select">
    <label class="select_label control-label">渠道:</label>
    <div class="col-xs-12 col-sm-3">
        <select id="g" class="selectpicker show-tick form-control" multiple data-live-search="true" data-actions-box="true" title="请选择"></select>
    </div>
    <label class="select_label control-label">服务器:</label>
    <div class="col-xs-12 col-sm-3" >
        <select id="s" class="selectpicker show-tick form-control" multiple data-live-search="true" data-actions-box="true" title="请选择"></select>
    </div>
    <input size="16" type="checkbox" id="ischeck" value="1">
    <label for="ischeck">非汇总</label>
    <div  class="col-xs-12 col-sm-3">
        <button id="send_valid" class="btn btn-success" style="margin-bottom: 20px; margin-right: 30px;">应用有效主播</button>
        <button id="send_novalid" class="btn btn-danger" style="margin-bottom: 20px;">应用无效主播</button>
        <button id="send_history" class="btn btn-warning" style="margin-bottom: 20px;">历史记录</button>
    </div>
    <div  class="col-xs-12 col-sm-2 pull-right">
        <select id="type" style="height: 30px; font-size: 16px; padding: 0 12px;">
        </select>
        <a data-type="insertConfig" class="btn btn-primary">新增</a>
    </div>
</div>
<hr>
<div class="table-responsive">
    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <th>编号</th>
            <th>主播ID</th>
            <th>房间ID</th>
            <th>主播名字</th>
            <th>开播时间</th>
            <th>下播时间</th>
            <th>图标</th>
            <th>热度</th>
            <th>是否有效</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>


<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}
<script type="text/javascript">
    var id = "#content";
    var url = location.href + "&jinIf=912";
    var btn = [
        '<div class="btn-group btn-group-sm"><a data-type="updateConfig" class="btn btn-primary">修改</a></div> '+
        '<div class="btn-group btn-group-sm"><a data-type="deleteConfig" class="btn btn-danger">删除</a></div>'
    ];
    var arr = ['s_id', 'id', 'room_id', 'name', 'start_time','end_time','icon_id','heat','is_valid',btn];
    var data = {};

    function template() {
        $.ajax({
            type: "POST",
            url: location.href + "&jinIf=941",
            dataType: 'json',
            success: function (json) {
                var c='';
                for (var i=0;i<json.length;i++){
                    c+='<option value="'+i+'">'+json[i]+'</option>';
                }
                $("#type").html(c);
                common();
            }
        });
    }
    template();
    gsSelect3('#g', '', '#s');

    function common() {
        data.type = $("#type").val();
        noPageContentList(url, data, id, arr);
    }
    $("#type").on('change', function () {
        common();
    });

    //新增
    $("a[data-type='insertConfig']").on('click', function () {
        layer.open({
            type: 1,
            closeBtn: 2,
            title: '新增',
            area: ['300px', '450px'],
            btn: ['新增', '取消'],
            btnAlign: 'c',
            shadeClose: true, //点击遮罩关闭
            content: '<div class="jin-child">' +
            '<div class="input-group"><span class="input-group-addon">主播ID</span><input id="anchor_id" type="text" class="form-control"></div>' +
            '<div class="input-group"><span class="input-group-addon">房间ID</span><input id="room_id" type="text" class="form-control"></div>' +
            '<div class="input-group"><span class="input-group-addon">主播名字</span><input id="anchor_name" type="text" class="form-control"></div>' +
            '<div class="input-group"><span class="input-group-addon">开播时间</span><input id="start_time" type="text" class="form-control" placeholder="请填写0-86400范围的值"></div>' +
            '<div class="input-group"><span class="input-group-addon">下播时间</span><input id="end_time" type="text" class="form-control" placeholder="请填写0-86400范围的值"></div>' +
            '<div class="input-group"><span class="input-group-addon">图标</span><input id="icon_id" type="text" class="form-control"></div>' +
            '</div>',
            yes: function (index) {
                $.ajax({
                    type: "POST",
                    url: location.href + '&jinIf=911',
                    data: {
                        type:$('#type').val(),
                        anchor_id:$('#anchor_id').val(),
                        room_id:$('#room_id').val(),
                        anchor_name:$('#anchor_name').val(),
                        start_time:$('#start_time').val(),
                        end_time:$('#end_time').val(),
                        icon_id:$('#icon_id').val()
                    },
                    dataType: "json",
                    success: function (res) {
                        if(res){
                            layer.close(index);
                            layer.alert('添加成功！', {icon: 1}, function (index) {
                                layer.close(index);
                                common();
                            });
                        }else{
                            layer.alert('主播ID已经存在！', {icon: 2}, function (index) {
                                layer.close(index);
                            });
                        }
                    }
                });
            },
            cancel: function () {
            }
        })
    });

    $('#content').on('click', 'a[data-type="deleteConfig"]', function () {
        var id = $(this).parents('tr').find('td').eq(0).text();
        layer.alert('确认删除？', {icon: 0, btn: ['确定', '取消'], shadeClose: true}, function () {
            $.ajax({
                type: "POST",
                url: location.href + "&jinIf=913",
                data: {
                    id: id
                },
                dataType: "json",
                success: function (json) {
                    layer.alert('删除成功', {icon: 1}, function (index) {
                        layer.close(index);
                        common();
                    });

                }
            });
        });
    }).on('click', 'a[data-type="updateConfig"]', function () {
        var id = $(this).parents('tr').find('td').eq(0).text();
        $.ajax({
            type: "POST",
            url: location.href + "&jinIf=915",
            data: {
                id: id
            },
            dataType: "json",
            success: function (json) {
                layer.open({
                    type: 1,
                    closeBtn: 2,
                    title: '主播修改',
                    area: ['400px', '600px'],
                    btn: ['修改', '取消'],
                    btnAlign: 'c',
                    shadeClose: true, //点击遮罩关闭
                    content: '<div class="jin-child">' +
                    '<div class="input-group"><span class="input-group-addon">主播ID</span><input id="anchor_id" type="text" class="form-control" value="'+json.id+'"></div>' +
                    '<div class="input-group"><span class="input-group-addon">房间ID</span><input id="room_id" type="text" class="form-control" value="'+json.room_id+'"></div>' +
                    '<div class="input-group"><span class="input-group-addon">主播名字</span><input id="anchor_name" type="text" class="form-control" value="'+json.name+'"></div>' +
                    '<div class="input-group"><span class="input-group-addon">开播时间</span><input id="start_time" type="text" class="form-control" value="'+json.start_time+'"  placeholder="请填写0-86400范围的值"></div>' +
                    '<div class="input-group"><span class="input-group-addon">下播时间</span><input id="end_time" type="text" class="form-control" value="'+json.end_time+'"  placeholder="请填写0-86400范围的值"></div>' +
                    '<div class="input-group"><span class="input-group-addon">图标</span><input id="icon_id" type="text" class="form-control" value="'+json.icon_id+'"></div>' +
                    '<div class="input-group"><span class="input-group-addon">热度</span><input id="heat" type="text" class="form-control" value="'+json.heat+'"></div>' +
                    '<div class="input-group"><span class="input-group-addon">是否有效</span><input id="is_valid" type="text" class="form-control" value="'+json.is_valid+'"></div>' +
                    '<div class="input-group" style="color: red">1有效，0无效</div>' +
                    '</div>',
                    yes: function (index) {
                        $.ajax({
                            type: "POST",
                            url: location.href + '&jinIf=914',
                            data: {
                                id:id,
                                anchor_id:$('#anchor_id').val(),
                                room_id:$('#room_id').val(),
                                anchor_name:$('#anchor_name').val(),
                                start_time:$('#start_time').val(),
                                end_time:$('#end_time').val(),
                                icon_id:$('#icon_id').val(),
                                heat:$('#heat').val(),
                                is_valid:$('#is_valid').val()
                            },
                            success: function () {
                                layer.close(index);
                                layer.alert('修改成功', {icon: 1}, function (index) {
                                    layer.close(index);
                                    common();
                                });
                            }
                        });
                    },
                    cancel: function () {
                    }
                })
            }
        });
    });
    
    $("#send_valid").click(function () {
        if ($('#s').val()=="") {
            layer.msg('请选择服务器');
            return false;
        }
        $.ajax({
            type: "POST",
            url: location.href + '&jinIf=916',
            data: {
                si:$('#s').val(),
                type:$("#type").val(),
                valid:1,
                not_online:$('#ischeck').is(':checked') ? $('#ischeck').val() : ''
            },
            dataType: "json",
            success: function (res) {
                if(res==1){
                    layer.alert('应用成功！', {icon: 1}, function (index) {
                        layer.close(index);
                    });
                } else if(res==2){
                    layer.alert('请正确应用主播！', {icon: 2}, function (index) {
                        layer.close(index);
                    });
                }else{
                    layer.alert('应用失败！', {icon: 2}, function (index) {
                        layer.close(index);
                    });
                }

            }
        });
    });

    $("#send_novalid").click(function () {
        if ($('#s').val()=="") {
            layer.msg('请选择服务器');
            return false;
        }
        $.ajax({
            type: "POST",
            url: location.href + '&jinIf=916',
            data: {
                si:$('#s').val(),
                type:$("#type").val(),
                valid:0
            },
            dataType: "json",
            success: function (res) {
                if(res){
                    layer.alert('应用成功！', {icon: 1}, function (index) {
                        layer.close(index);
                    });
                }else{
                    layer.alert('应用失败！', {icon: 2}, function (index) {
                        layer.close(index);
                    });
                }

            }
        });
    });

    $("#send_history").click(function () {
        location.href=location.href + '&jinIf=917'
    });
    


</script>
