{{include file="../common/1header.html"}}
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>全服邮件查询</span></div>
<div class="alert alert-info">
    <div id="group_only"></div>
</div>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>编号</th>
            <th>发送服务器</th>
            <th>全服邮件ID</th>
            <th>邮件标题</th>
            <th>邮件内容</th>
            <th>货币</th>
            <th>道具</th>
            <th>经验</th>
            <th>额外信息</th>
            <th>创建时间</th>
            <th>创建人</th>
            <th>审核时间</th>
            <th>审核人</th>
            <th>撤回</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
<div id="page"></div>
<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}
<script>
    groupSelect();
    $("#group").on('change', function () {
        jsonQuery();
    });
    function jsonQuery() {
        var url = location.href + "&jinIf=912";
        var btn = [
            "<button data-type='c' class='btn btn-sm btn-danger'>撤回</button>"
        ];
        var arr = ['mail_id', 'si', 'full_id', 'title', 'content', 'money', 'item','exp', 'full_info', 'ct', 'cu', 'at', 'au', btn];
        var id = ["#content", "#page"];
        var data = {
            page: 1,
            gi: $("#group").val()
        };
        $(document).ready(tableList(url, data, id, arr));
    }
    //全服邮件撤回
    $('#content').on('click', 'button[data-type="c"]', function () {
        var mail_id = $(this).parents('tr').find('td').eq(0).text();
        layer.alert('确定撤回 <b>' + mail_id + '号邮件</b>？', {icon: 0, btn: ['确定', '取消']}, function () {
            $.ajax({
                type: "POST",
                url: location.href + "&jinIf=931",
                data: {
                    mail_id: mail_id
                },
                beforeSend: function () {
                    layer.load(2, {
                        shade: [0.3, '#fff']//0.3透明度的白色背景
                    });
                },
                success: function () {
                    layer.closeAll('loading');
                    layer.alert('<b>' + mail_id + '号邮件</b> 已撤回', {icon: 1}, function (index) {
                        layer.close(index);
                        jsonQuery();
                    });
                }
            });
        });
    })
</script>