{{include file="../common/1header.html"}}
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>权限列表</span></div>
<!--栅格搭框架-->
<div class="col-sm-10  col-md-10  col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
    <div class="table-responsive">
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th>权限编号</th>
                <th>父节点名称</th>
                <th>权限名称</th>
                <th>控制器名称</th>
                <th>方法名称</th>
                <th>是否启用</th>
            </tr>
            </thead>
            <tbody>
            {{foreach $sp as $p}}
            <tr>
                <td>{{$p.per_id}}</td>
                <td>{{$p.parent_name}}</td>
                <td>{{$p.per_name}}</td>
                <td>{{$p.controller_name}}</td>
                <td>{{$p.action_name}}</td>
                <td>{{$p.enable}}</td>
            </tr>
            {{/foreach}}
            </tbody>
        </table>
    </div>
</div>
<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}