{{include file="../common/1header.html"}}
<link href="{{CSS}}jin/3.01.selectretention.css" rel="stylesheet">
<style type="text/css">
    .col-sm-1 {
        width: 90px;
        padding-top: 8px;
    }
    .alert-info{
        color: white;
    }
    .form-group{
        margin-bottom: 35px;
    }
    #server_top .dropdown-header .text{
        font-size: 20px;
        color: black;
        font-weight: 500;
    }
    .text_content{
        margin-left: 35px;
    }
    .dropdown-header{
        padding: 10px 20px;
    }
    #server_top{
        width: 100px
    }
    #group{
        width: 100%
    }
    .table > tbody > tr > td{
        width: 120px;
        padding: 8px 0px;
    }
    .table > tbody > tr > td:nth-child(1),
    .table > thead > tr > td:nth-child(1),
    .table > tbody > tr > td:nth-child(2),
    .table > thead > tr > td:nth-child(2){
        width: 50px;
    }
</style>
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>角色留存率</span></div>
<div class="alert alert-info">
    {{if $Mobel == 'Mobel'}}
        <div class="form-group" id="group_server_5_mobel"></div>
    {{else}}
        <div class="form-group" id="group_server_5"></div>
    {{/if}}
</div>
<!--查询div-->
<hr/>
<div class="jin-search-div">
    <label for="time_start">日期：</label>
    <input size="16" type="text" id="time_start" class="form-control jin-datetime"
           placeholder="开始日期">
    -
    <input size="16" type="text" id="time_end" class="form-control jin-datetime"
           placeholder="结束日期">
    <a id="jin_search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
    <!--<a id="server_summary" class="btn btn-success">服务器汇总</a>-->
    <a id="group_summary" class="btn btn-success">渠道汇总</a>
    <a id="jin_excel" class="btn btn-danger">保存到Excel</a>
    <input size="16" type="checkbox" id="ischeck" value="1">
    <label  for="ischeck" style="margin-left: 0px;">查询今日实时更新</label>
</div>
<div class="table-responsive jin-table-12px">
    <table class="table table-striped text-center jin-retention-table">
        <thead>
        <tr>
            <th class="jin-retention-column1">日期</th>
            <th>创角数</th>
            <th>2日留存</th>
            <th>3日留存</th>
            <th>4日留存</th>
            <th>5日留存</th>
            <th>6日留存</th>
            <th>7日留存</th>
            <th>8日留存</th>
            <th>15日留存</th>
            <th>30日留存</th>
            <th>45日留存</th>
            <th>60日留存</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
<div id="page"></div>
<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}
<script type="text/javascript">
    gsSelect3('#g', '#p', '#s');
    calendar('month', '#time_start', '#time_end');

    var numin1 = function (json) {
        if (!json.r1) {
            json.r1 = '0%';
        }
        if (!json.numin1) {
            json.numin1 = '0%';
        }
        var r_content = json.numin1 + ' ( ' + json.r1+ ' )';
        return r_content;
    }
    var numin2 = function (json) {
        if (!json.r2) {
            json.r2 = '0%';
        }
        if (!json.numin2) {
            json.numin2 = '0%';
        }
        var r_content = json.numin2 + ' ( ' + json.r2+ ' )';
        return r_content;
    }
    var numin3 = function (json) {
        if (!json.r3) {
            json.r3 = '0%';
        }
        if (!json.numin3) {
            json.numin3 = '0%';
        }
        var r_content = json.numin3 + ' ( ' + json.r3+ ' )';
        return r_content;
    }
    var numin4 = function (json) {
        if (!json.r4) {
            json.r4 = '0%';
        }
        if (!json.numin4) {
            json.numin4 = '0%';
        }
        var r_content = json.numin4 + ' ( ' + json.r4+ ' )';
        return r_content;
    }
    var numin5 = function (json) {
        if (!json.r5) {
            json.r5 = '0%';
        }
        if (!json.numin5) {
            json.numin5 = '0%';
        }
        var r_content = json.numin5 + ' ( ' + json.r5+ ' )';
        return r_content;
    }
    var numin6 = function (json) {
        if (!json.r6) {
            json.r6 = '0%';
        }
        if (!json.numin6) {
            json.numin6 = '0%';
        }
        var r_content = json.numin6 + ' ( ' + json.r6+ ' )';
        return r_content;
    }
    var numin7 = function (json) {
        if (!json.r7) {
            json.r7 = '0%';
        }
        if (!json.numin7) {
            json.numin7 = '0%';
        }
        var r_content = json.numin7 + ' ( ' + json.r7+ ' )';
        return r_content;
    }
    var numin15 = function (json) {
        if (!json.r14) {
            json.r14 = '0%';
        }
        if (!json.numin14) {
            json.numin14 = '0%';
        }
        var r_content = json.numin14 + ' ( ' + json.r14+ ' )';
        return r_content;
    }
    var numin30 = function (json) {
        if (!json.r29) {
            json.r29 = '0%';
        }
        if (!json.numin29) {
            json.numin29 = '0%';
        }
        var r_content = json.numin29 + ' ( ' + json.r29+ ' )';
        return r_content;
    }
    var numin45 = function (json) {
        if (!json.r44) {
            json.r44 = '0%';
        }
        if (!json.numin44) {
            json.numin44 = '0%';
        }
        var r_content = json.numin44 + ' ( ' + json.r44+ ' )';
        return r_content;
    }
    var numin60 = function (json) {
        if (!json.r59) {
            json.r59 = '0%';
        }
        if (!json.numin59) {
            json.numin59 = '0%';
        }
        var r_content = json.numin59 + ' ( ' + json.r59+ ' )';
        return r_content;
    }

    var url = location.href + "&jinIf=912";
    var arr = ['date', 'numup', numin1, numin2, numin3, numin4, numin5, numin6,numin7, numin15, numin30, numin45, numin60];
    var id = ["#content", "#page"];
    var data = {
        role: 0
    };
    function getRetention() {
        data.page       = 1;
        data.group      = $('#g').val();
        data.pi         = $('#p').val();
        data.si         = $('#s').val();

        data.time_start = $('#time_start').val();//查询开始时间
        data.time_end   = $('#time_end').val();//查询结束时间
        data.ischeck       = $('#ischeck').is(':checked') ? $('#ischeck').val() : 0;
        $.cookie('cookie_g', data.group, {expires: 30});
        $.cookie('cookie_s', data.si, {expires: 30});
        tableList(url, data, id, arr);
    }
    // 普通查询
    $("#jin_search").on('click', function () {
        data.check_type = 912;
        getRetention();
    });
    // 服务器汇总
    $("#server_summary").on('click', function () {
        data.check_type = 998;
        getRetention();
    });
    // 渠道汇总
    $("#group_summary").on('click', function () {
        data.check_type = 999;
        giCollect(getRetention);
    });
    $("#jin_excel").on('click', function () {
        data.page = 'excel';  // 生成excel表
        $.ajax({
            type: "post",
            url: location.href + '&jinIf=951',
            data: data,
            dataType: "json",
            beforeSend: function () {
                layer.load(2, {
                    shade: [0.3, '#fff']
                });
            },
            success: function (output) {
                layer.closeAll('loading');
                location.href = output;
            },
            error: function () {
                layer.closeAll('loading');
                layer.msg('文件下载失败，请缩小筛选条件后再次下载');
            }
        });
    });
</script>
