{{include file="../common/1header.html"}}
<!--|↓↓↓↓↓↓|-->

<style type="text/css">
    .alert-info{
        color: white;
    }
    .form-group{
        margin-bottom: 35px;
    }
    .col-sm-1 {
        width: 90px;
        padding-top: 8px;
    }
</style>
<div class="jin-content-title"><span style="color: #9d143a">日报汇总</span></div>
<div class="alert alert-info">
    <div class="form-group" id="group_server_7"></div>
</div>
<!--查询div-->
<hr/>
<div class="jin-search-div">
    <label for="time_start">日期：</label>
    <input size="16" type="text" id="time_start" class="form-control jin-datetime"
           placeholder="开始日期">
    -
    <input size="16" type="text" id="time_end" class="form-control jin-datetime"
           placeholder="结束日期">
    <a id="jin_search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
</div>
<hr/>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr id="thead">
            <th>日期</th>
            <th>新增设备</th>
            <th>新增角色</th>
            <th>DAU</th>
            <th>APA</th>
            <th>充值次数</th>
            <th>充值金额</th>
            <th>PUR</th>
            <th>ARPU</th>
            <th>ARPPU</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
<div id="page"></div>
<div class="jin-explain">
    <b>说明</b>：
    <div>
        ① 当日数据实时更新；
    </div>
</div>
<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}

<script type="text/javascript">
    gsSelect3('#g', '#p', '#s');
    calendar('month', '#time_start', '#time_end');
    var myDate = new Date();
    var weekDay = ["星期天", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
    Y = myDate.getFullYear() + '-';
    M = (myDate.getMonth()+1 < 10 ? '0'+(myDate.getMonth()+1) : myDate.getMonth()+1) + '-';
    D = myDate.getDate() < 10 ? '0'+myDate.getDate():myDate.getDate();
    stime = Y+M+D;
    var c_rate = function (json) {
        if (json.date == stime) {
            rate =json.date+'<br>(实时更新)';
        } else {
            if(json.date!='汇总'){
                var dt = new Date(Date.parse(json.date))
                rate = json.date+weekDay[dt.getDay()];
            }else{
                rate = json.date;
            }
        }
        return rate;
    };
    var url = location.href + "&jinIf=912";
    var arr = [c_rate, 'device', 'character', 'dau', 'apa', 'times', 'amount', 'pur', 'arpu', 'arppu'];
    var id = ["#content", "#page"];
    var data = {};
    function getDaily() {
        data.page       = 1;
        data.group      = $("#g").val();
        data.pi         = $('#p').val();
        data.time_start = $('#time_start').val();//查询开始时间
        data.time_end   = $('#time_end').val();//查询结束时间
        data.ischeck       = $('#ischeck').is(':checked') ? $('#ischeck').val() : 0;
        $.cookie('cookie_g', data.group, {expires: 30});
        tableList(url, data, id, arr);
    }

    // 普通查询
    $("#jin_search").click(function () {
        data.check_type = 912;  // 普通查询
        getDaily();
    });
</script>