{{include file="../common/1header.html"}}
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>LTV(life time value)</span></div>
<div class="table-responsive jin-table-12px">
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>日期</th>
            <th>注册</th>
            <th>新增金额</th>
            <th>1日</th>
            <th>2日</th>
            <th>3日</th>
            <th>4日</th>
            <th>5日</th>
            <th>6日</th>
            <th>7日</th>
            <th>8日</th>
            <th>9日</th>
            <th>10日</th>
            <th>11日</th>
            <th>12日</th>
            <th>13日</th>
            <th>14日</th>
            <th>15日</th>
            <th>16日</th>
        </tr>
        </thead>
        <tr>
            <td>2017-05-03</td>
            <td>101</td>
            <td>42</td>
            <td>22</td>
            <td>27</td>
            <td>354.6</td>
            <td>150</td>
            <td>21</td>
            <td>20</td>
            <td>15</td>
            <td>300</td>
            <td>500</td>
            <td>60</td>
            <td>65</td>
            <td>70</td>
            <td>902.5</td>
            <td>70</td>
            <td>902.5</td>
            <td>95</td>
        </tr>
        <tr>
            <td>2017-05-02</td>
            <td>101</td>
            <td>42</td>
            <td>22</td>
            <td>27</td>
            <td>354.6</td>
            <td>150</td>
            <td>21</td>
            <td>20</td>
            <td>15</td>
            <td>300</td>
            <td>500</td>
            <td>60</td>
            <td>65</td>
            <td>70</td>
            <td>902.5</td>
            <td>70</td>
            <td>902.5</td>
            <td>95</td>
        </tr>
        <tr>
            <td>2017-05-01</td>
            <td>101</td>
            <td>42</td>
            <td>22</td>
            <td>27</td>
            <td>354.6</td>
            <td>150</td>
            <td>21</td>
            <td>20</td>
            <td>15</td>
            <td>300</td>
            <td>500</td>
            <td>60</td>
            <td>65</td>
            <td>70</td>
            <td>902.5</td>
            <td>70</td>
            <td>902.5</td>
            <td>95</td>
        </tr>

        <tbody id="content"></tbody>
    </table>
</div>
<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}