{{include file="../common/1header.html"}}
<!--|↓↓↓↓↓↓|-->
<div class="jin-content-title"><span>数据汇总</span></div>
<div class="alert alert-info">
    <div id="group_server"></div>
</div>
<!--查询div-->
<div class="jin-explain">
    <b>说明</b>：
    <div>
        ① 某个服的设备安装量为该服所在渠道的设备安装量。
    </div>
    <div>
        ② 不填时间选项默认查询所有。
    </div>
</div>
<hr/>
<div class="jin-search-div">
    <label for="time_start">日期：</label>
    <input size="16" type="text" id="time_start" class="form-control jin-datetime"
           placeholder="开始日期">
    -
    <input size="16" type="text" id="time_end" class="form-control jin-datetime"
           placeholder="结束日期">
    <!-- <label for="dv">平台：</label>
    <select id="dv">
        <option value="">全部</option>
        <option value="8">ios</option>
        <option value="11">android</option>
    </select> -->
    <a id="jin_search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
    <a id="server_summary" class="btn btn-success">服务器汇总</a>
    <a id="group_summary" class="btn btn-success">渠道汇总</a>
</div>
<hr/>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr id="thead">
            <th>渠道</th>
            <th>服务器</th>
            <th>总设备安装</th>
            <th>总创建角色</th>
            <th>总充值人数</th>
            <th>总充值</th>
            <th>PUR</th>
            <th>ARPU</th>
            <th>ARPPU</th>
            <th>开服日期</th>
        </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>
<!--|↑↑↑↑↑↑|-->
{{include file="../common/2footer.html"}}
<script type="text/javascript">
    gsSelect('#group', '#server', '#platform', getTotal);
    calendar('month', '#time_start', '#time_end');
    var url = location.href + "&jinIf=912";
    var arr = ['groupname','servername', 'dc', 'ac', 'bn','bc','pur','arpu','arppu','open_time'];
    var id = ["#content", "#page"];
    var data = {};
    function getTotal() {
        data.page       = 1;
        data.group      = $("#group").val();
        data.pi         = $('#platform').val();
        data.si         = $("#server").val();//放在里面，不然si的值会不正确
        data.time_start = $('#time_start').val();//查询开始时间
        data.time_end   = $('#time_end').val();//查询结束时间
        tableList(url, data, id, arr);
    }

    // 普通查询
    $("#jin_search").click(function () {
        data.check_type = 912;  // 普通查询
        if ($('#server').val() === null) {
            layer.msg('请选择服务器');
            return false;
        }
        getTotal();
    });

    // 服务器汇总
    $("#server_summary").click(function () {
        data.check_type = 998;  // 服务器汇总
        getTotal();
    });

    // 渠道汇总
    $("#group_summary").click(function () {
        data.check_type = 999;  // 渠道汇总
        giCollect(getTotal);
    });
</script>
